$app-name: 'JustStreamIt';

// Theme colors
$color-foreground: white;
$color-background: black;

// For carousels
$carousels-default-display: none;
$totalSlides: 4; // Total number of slides to control