$app-name: 'JustStreamIt';

// Theme colors
$color-foreground: white;
$color-background: black;

// For carousels
$table-border-color: white;
$table-border-on-over: red;
$table-border-width: 5px;
$table-zoom: 120%;