$app-name: 'JustStreamIt';

// Theme colors
$color-foreground: white;
$color-background: black;

// For carousels
$carousels-default-display: none;
$totalSlides: 9; // Total number of slides to control max = 9, this option is just to reduce the size of CSS file